<!DOCTYPE html>
<html lang="en">
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link href="style.css" rel="stylesheet" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <div class="form-container">
    <div class="title-content">
      <h1 class="title">TASKS TO DO THIS YEAR</h1>
      <img src="./icons/o-comunismo.svg" width="50" height="50" />
    </div>
    <form name="myForm" v-on:submit.prevent="sended" id="form" class="title">
      New Item:
      <input type="text" class="inputItem" v-model="message" name="itemList" />
      <input
        type="submit"
        class="addButton"
        v-bind:disabled="message === ''"
        value="+"
      />
      <ul>
        <todo-item
          data-animation="LefttoRight"
          class="item-row"
          v-for="item, index in lista"
          v-bind:index="index"
          v-bind:item="item"
          v-bind:key="item.id"
          v-bind:style="getTodoStyle(item.status)"
          v-bind:erase="erase"
          v-bind:done="done"
          v-bind:cancel="cancel"
        >
        </todo-item>
      </ul>
    </form>
  </div>
  <script type="module" src="index.js"></script>
  <body></body>
</html>
