<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <form name="myForm" v-on:submit.prevent="enviado" id="form">
    Item: <input type="text" v-model="message" name="itemList" />
    <input type="submit" v-bind:disabled="message === ''" value="Enviar" />
    <ul>
      <li v-for="Item, index in lista" v-bind:key="Item.id">
        {{ Item.text}} <button v-on:click="apagar(index)">apagar</button>
      </li>
    </ul>
  </form>
  <script type="module" src="index.js"></script>
  <body></body>
</html>
